@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

:root {
    --BodyColor: #0C151D;
    --TextColor: #BED0EF;
    --MainColor: #0083FF;
    --OneColor: #162634;
    --TwoColor: #20374C;
    --ThreeColor: #2A4964;
    --FourColor: #345A7B;
    --FiveColor: #3D6B93;
    --SixColor: #477CAB;
    --White: #000000;
    --Black: #FFFFFF;

    --GövdeFont: 'Inter', sans-serif;
    --h2FontBoyutu: 1.25rem;
    --h3FontBoyutu: 1rem;
    --NormalFontBoyutu: .938rem;
    --OrtaFontBoyutu: .813rem;
    --KüçükFontBoyutu: .75rem;
}

@media screen and (min-width: 968px) {
    :root {
        --h2FontBoyutu: 1.5rem;
        --h3FontBoyutu: 1.25rem;
        --NormalFontBoyutu: 1rem;
        --OrtaFontBoyutu: .875rem;
        --KüçükFontBoyutu: .813rem;
    }
}

::selection {
    background: var(--SixColor);
}

::-webkit-scrollbar-track {
    background-color: var(--BodyColor);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--MainColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--MainColor);
}

* {
    margin: 0;
    padding: 0;
    transition: background .3s;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

body {
    line-height: 2rem;
    font-family: var(--GövdeFont);
    font-size: var(--NormalFontBoyutu);
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--TextColor);
    align-items: center;
    background: var(--BodyColor);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 40px;
    color: var(--Black);
}


p {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    text-indent: 2rem;
}

.Mahlas {
    text-align: right;
    word-wrap: break-word;
    margin-bottom: 0;
    color: var(--SixColor);
    line-height: normal;
    margin-bottom: 20px;
    margin-right: 40px;
}

.Mahlas span {
    color: var(--FourColor);
}
